@import './reset.css';
@import './variables.css';
@import './typography.css';
@import './animations.css';
@import './utilities.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  width: 100%;
  background-color: var(--color-background);
}
